{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
{%if value%}
<a target="_blank" href="{{ asset(value|nl2br) }}">show image</a>
{%else%}
No data
{%endif%}
{% endblock %}
