<table class="table table-bordered">
    <tbody>
    {%for data in object.getUserCustomDocuments%}
            <tr class="sonata-ba-view-container">
                <th>{{data.getDocumentName}}</th>
                <td>
                    <a target="_blank" href="{{ asset(data.getDocumentPathFull)|nl2br }}">
                        {{data.getDocumentName}}
                    </a>
                </td>
            </tr>
    {%endfor%}
    </tbody>
</table>
