<table class="table table-bordered">
    <tbody>

            <tr class="sonata-ba-view-container">
                <th>passport</th>
                <td>
                    <a target="_blank" href="{{ asset(object.getDocumentIdPath)|nl2br }}">
                        passport
                    </a>
                </td>
            </tr>
 
    </tbody>
</table>
